<div class="footer-container">
    <div class="footer-spacer-column"></div>
    <div class="footer-center-column noselect">
        <div class="head noselect">
            Contacts
            <hr>
        </div>
        <div class="link">
            Something
        </div>
        <br>
        <div class="link">
            Something
        </div>
        <br>
        <div class="link">
            Something
        </div>
        <br>
        <div class="link">
            Something
        </div>
        <br>
    </div>
    <div class="footer-center-column noselect">
        <div class="head noselect">
            Additional information
            <hr>
        </div>
        <div class="link">
            42 School <br>
            <br>
        </div>
        <div class="link">
            Something <br>
            <br>
        </div>
        <div class="link">
            Something <br>
            <br>
        </div>
    </div>
    <div class="footer-center-column noselect">
        <div class="head noselect">
            Social
            <hr>
        </div>
        <div class="link">
            LinkedIn <br>
            <br>
        </div>
        <div class="link">
            Something <br>
            <br>
        </div>
    </div>
    <div class="footer-spacer-column"></div>
</div>