<div class="footer-container">
    <div class="footer-spacer-column"></div>
    <div class="footer-center-column noselect">
        <div class="head noselect">
            Contacts
            <hr>
        </div>
        <a href="">Something</a>
        <br>
        <br>
    </div>
    <div class="footer-center-column noselect">
        <div class="head noselect">
            Additional information
            <hr>
        </div>
        <div>
            <a href="https://42.fr/en/homepage/">42 School</a>
            <br>
            <br>
        </div>
    </div>
    <div class="footer-center-column noselect">
        <div class="head noselect">
            Social
            <hr>
        </div>
        <div>
            <a href="https://www.linkedin.com/in/vladyslav-kogutiak-885642231/">LinkedIn</a>
            <br>
            <br>
        </div>        
        <div>
            <a href="https://github.com/Gitreposuser">GitHub</a>
            <br>
            <br>
        </div>
    </div>
    <div class="footer-spacer-column"></div>
</div>