.footer-container{
    display: flex;
    opacity: 0.5;
    background-color: black;
    transition: all 1s;
}

.footer-container:hover{
    transition: all 1s;
    opacity: 1;
}

.footer-spacer-column{
    width: 20%;
}

.footer-center-column{
    display: flex;
    width: 20%;
    height: 30vh;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: x-large;
    color: white;
}

a{
    transition: all 1s;
    color: white;
    text-decoration: none;
}

a:hover{
    cursor: pointer;
    transition: all 1s;
    letter-spacing: 4px;
    text-decoration: overline underline #d1a21f 8px;
}

.head{
    transition: all 1s;
    color: white;
}

.head:hover{
    transition: all 1s;
    color: #d1a21f;
}

.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Old versions of Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome, Edge, Opera and Firefox */
}