<div class="footer-container">
    <div class="footer-spacer-column"></div>
    <div class="footer-center-column noselect">
        <div class="head noselect">
            Contacts
            <br><br>
            <hr>
            <br>
        </div>
        <div>
            <a href="">Something</a>
        </div>
        <br>
        <br>
    </div>
    <div class="footer-center-column noselect">
        <div class="head noselect">
            Additional information
            <br><br>
            <hr>
            <br>
        </div>
        <div>
            <a href="https://42.fr/en/homepage/">42 School</a>
            <br><br>
        </div>
        <div>
            <br>
            <div>
                <img src="https://hitwebcounter.com/counter/counter.php?page=8039620&style=0009&nbdigits=9&type=page&initCount=0" title="Free Counter" Alt="web counter" border="0" />  
            </div>
        </div>
    </div>
    <div class="footer-center-column noselect">
        <div class="head noselect">
            Social
            <br><br>
            <hr>
            <br>
        </div>
        <div>

            <a href="https://www.linkedin.com/in/vladyslav-kogutiak-885642231/">LinkedIn</a>
            <br><br>
        </div>        
        <div>
            <a href="https://github.com/Gitreposuser">GitHub</a>
            <br><br>
        </div>
    </div>
    <div class="footer-spacer-column"></div>
</div>