.footer-container{
    display: flex;
    justify-content: center;
}

.footer-left-column{
    display: flex;
    justify-content: right;
}

.footer-center-column{
    display: block;
    justify-content: center;
    background-color: white;
}

.footer-right-column{
    display: flex;
    justify-content: left;
}