.card-container{
    height: 220px;
    width: 160px;
    border: 3px solid #739cb3;
    border-radius: 5px;

    position: relative;
    perspective: 600px;
    transform-style: preserve-3d;
}

.card-container:active:hover{
    animation: clickAnim 1s;
    transition-duration: 1s;
}

@keyframes clickAnim {
    0%{
        transform: rotateY(0deg);
    }
    20%{
        transform: rotateY(90deg);
        background-color: rgb(70, 145, 70);
    }
    21%{
        background-color: rgb(70, 145, 70);
    }
    40%{
        transform: rotateY(180deg);
        background-color: rgb(70, 145, 70);
    }
    60%{
        transform: rotateY(180deg);
        background-color: rgb(70, 145, 70);
    }
    80%{
        transform: rotateY(90deg);
        background-color: #88a4b3;
    }
    81%{
        background-color: #88a4b3;
    }
    100%{
        transform: rotateY(0deg);
        background-color: #88a4b3;
    }
}

.default{
    background-color: #88a4b3;
}

.flipped{
    background-color: rgb(70, 145, 70);
}

.lose{
    background-color: rgb(192, 69, 69);
}