.navbar-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar-left{
    display: flex;
    justify-content: right;
}

.navbar-center{
    display: flex;
    justify-content: center;
}

.navbar-right{
    display: flex;
    justify-content: left;
}

.logo{
    width: 200px;
    height: min-content;
    animation-name: logorotate;
    animation-duration: 2s;
}

.logo:hover{
    animation-name: logozoomin;
    animation-duration: 3s;
}

@keyframes logorotate{
    0% {
        transform: rotateZ(0deg);
    }
    20% {
        transform: rotateZ(40deg);
    }
    40% {
        transform: rotateZ(-20deg);
    }
    60% {
        transform: rotateZ(10deg);
    }
    80%{
        transform: rotateZ(-5deg);
    }
    100% {
        transform: rotateZ(0deg);
    }
}

@keyframes logozoomin{
    0% {
        transform: scale(120%);
    }
    10%{
        transform: scale(100%);
    }
    20% {
        transform: translateY(20px);
        opacity: 0.2;
    }
    70% {
        transform: scale(120%);
    }
    100% {
        transform: scale(120%);
        opacity: 1;
    }
}