<div class="navbar-container">
    <div class="navbar-left">
        <app-navbutton (btnClick)="onHomeClick()"
        text="Home" [isDisabled]="false"></app-navbutton>
        <app-navbutton (btnClick)="onGame1Click()"
        text="Game1" [isDisabled]="false"></app-navbutton>  
    </div>
    <div class="navbar-center">
        <img class="logo" src="../../assets/images/logoclean.png" alt="logo not found"
        (click)="onAboutClick()">
    </div>
    <div class="navbar-right">
        <app-navbutton (btnClick)="onLeaderbordClick()"
        text="Leaderbord" [isDisabled]="false"></app-navbutton>
        <app-navbutton (btnClick)="onAboutClick()"
        text="About" [isDisabled]="false"></app-navbutton>
    </div>
</div>