.btn{
    opacity: 0.7;
    margin: 20px;
    width: 200px;
    height: 100px;
    border-radius: 45px;
    border: none;
    outline: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: x-large;
    font-weight: 900;
    color: #d1a21f;
    text-shadow: white 2px 2px 0;
    background: no-repeat center/100% url("../../assets/images/pcbgreybackground.gif");
    transition: all 1s;
}

.btn:hover{
    transition: all 2s;
    opacity: 1;
    cursor: pointer;
    text-shadow: rgb(24, 23, 23) 2px 2px 2px;
    transform: scale(120%);
    background: center/400% url("../../assets/images/pcbgreybackground.gif");
    box-shadow: rgb(43, 16, 61) 2px 2px 10px;
}