.container{
    display: flex;
}

.column-spacer{
    width: 30%;
}

.column-center{
    display: flex;
    width: 60%;
    justify-content: center;
}

.text{
    font-family: 'Times New Roman', Times, serif;
    font-size: x-large;
    font-weight: 500;
}