<div>
    <app-navbar></app-navbar>
</div>
<div class="container">
    <div class="column-spacer"></div>
    <div class="column-center">
        Lorem ipsum dolor sit amet. <br>
        Lorem ipsum dolor sit amet. <br>
        Lorem ipsum dolor sit amet. <br>
        Lorem ipsum dolor sit amet. <br>
        Lorem ipsum dolor sit amet. <br>
        Lorem ipsum dolor sit amet. <br>
        Lorem ipsum dolor sit amet. <br>
        Lorem ipsum dolor sit amet. <br>
        Lorem ipsum dolor sit amet. <br>
        Lorem ipsum dolor sit amet. <br>
        Lorem ipsum dolor sit amet. <br>
        Lorem ipsum dolor sit amet. <br>
        Lorem ipsum dolor sit amet. <br>
        Lorem ipsum dolor sit amet. <br>
        Lorem ipsum dolor sit amet. <br>
        Lorem ipsum dolor sit amet. <br>
        Lorem ipsum dolor sit amet. <br>
        Lorem ipsum dolor sit amet. <br>
        Lorem ipsum dolor sit amet. <br>
        Lorem ipsum dolor sit amet. <br>
        Lorem ipsum dolor sit amet. <br>
        Lorem ipsum dolor sit amet. <br>
        Lorem ipsum dolor sit amet. <br>
        Lorem ipsum dolor sit amet. <br>
    </div>
    <div class="column-spacer"></div>
</div>
<div>
    <app-footer></app-footer>
</div>