<app-background></app-background>
<app-navbar></app-navbar>
<div class="container">
    <div class="column-spacer"></div>
    <div class="column-center text">
        Hear something about 42 school? <br>
        <br>
        Ready for code, but... <br>
        <br>
        But don't know where to start... <br>
        <br>
        Or just aftraid not passing the test... <br>
        <br>
        <br>
        Why take risk, when... <br>
        <br>
        When you can prepare! <br>
        <br>
        <br>
        Start training now! <br>
        <br>
        And go to the world of programming... <br>
        <br>
    </div>
    <div class="column-spacer"></div>
</div>
<app-footer></app-footer>